<!DOCTYPE html>
<html>

<head>
    <title>YouTube Downloader</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.red-deep_orange.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <style>
        .modal {
            position: fixed;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: auto;
            height: auto;
            background-color: #ffffff;
            max-width: 100%;
            z-index: 100;
            display: none;
            border-radius: 5px;
            overflow: auto;
        }

        .modal-overlay {
            z-index: 90;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #3E3E3E85;
            display: none;
        }

        .show {
            display: block;

        }

        .show-back {
            display: block;
        }
    </style>
</head>

<body style="background-color: #f3f3f3;">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-card__title" style="width: 100%; display: flex; flex-wrap: wrap;">
                <h2 class="mdl-card__title-text" style="margin: auto; font-size: 52px;">YouTube Downloader</h2>
            </div>
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--8-col">
            <h2 class="mdl-card__title-text">Please Enter a Valid YouTube Link:</h2>
            <br>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 100%;">
                <input class="mdl-textfield__input" type="text" id="yt_link">
                <label class="mdl-textfield__label" for="yt_link">YouTube Link...</label>
            </div>
            <br>
            <br>
            {% if advanced %}
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="low_quality" style="margin-right: 2%;">
                <input type="radio" id="low_quality" class="mdl-radio__button" name="options" value="low" checked>
                <span class="mdl-radio__label">Low Quality (720p, Quickest)</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="high_quality" style="margin-right: 2%;">
                <input type="radio" id="high_quality" class="mdl-radio__button" name="options" value="high">
                <span class="mdl-radio__label">High Quality (???, Slowest)</span>
            </label>
            {% endif %}
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="mp3">
                <input type="checkbox" id="mp3" class="mdl-checkbox__input">
                <span class="mdl-checkbox__label">Audio Only (mp3)</span>
            </label>
            <br>
            <br>
            
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                onclick="send_data()">
                Download Video
            </button>
        </div>
        <div class="mdl-cell mdl-cell--2-col"></div>
    </div>

    <div class="modal mdl-card mdl-shadow--2dp" id="modal" style="width: 300px; height: 300px;">
        <div style="width: 200px; height: 200px; display: flex; margin-left: 50px; margin-right: 50px;">
            <div class="mdl-spinner mdl-js-spinner is-active" style="margin: auto; width: 70px; height: 70px;"></div>
        </div>

        <div style="width: 300px; height: 100px; display: flex;">
            <h2 class="mdl-card__title-text" style="margin: auto;">Preparing your Video</h2>
        </div>
    </div>

    <div class="modal-overlay" id="modal_overlay"></div>

    <div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>


<script>

    var modal_active = false;

    function toggle_modal() {
        if (modal_active === false) {
            document.getElementById("modal").classList.toggle("show")
            document.getElementById("modal_overlay").classList.toggle("show-back")
            modal_active = true;
        } else {
            document.getElementById("modal").classList.toggle("show")
            document.getElementById("modal_overlay").classList.toggle("show-back")
            modal_active = false;
        }
    }

    function send_data() {
        var sendJSON = {};

        txt = document.getElementById("yt_link").value;
        matches = txt.match('^(http(s)?:\/\/)?((w){3}.)?youtu(be|.be)?(\.com)?\/.+$')
        console.log(matches)
        if (matches !== null) {
            if (matches[0] === document.getElementById("yt_link").value) {
                toggle_modal();
                sendJSON["url"] = document.getElementById("yt_link").value;
                {% if advanced %}
                if (document.getElementById("low_quality").checked === true) {
                    sendJSON["quality"] = "low";
                } else if (document.getElementById("high_quality").checked === true){
                    sendJSON["quality"] = "high";
                } else if (document.getElementById("mp3").checked === true){
                    sendJSON["quality"] = "mp3";
                }
                {% else %}
                sendJSON["quality"] = "low";
                {% endif %}
                if (document.getElementById("mp3").checked === true){
                    sendJSON["quality"] = "mp3";
                }
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "https://yt.rowley.space/downloads", true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify(sendJSON));

                xhr.onload = function () {
                    var result = JSON.parse(this.responseText);
                    if (result["error"] === 0) {
                        fetch("/files/" + result["video_url"])
                            .then(resp => resp.blob())
                            .then(blob => {
                                var url = window.URL.createObjectURL(blob);
                                console.log("Initial url Object Made")
                                if (window.navigator && window.navigator.msSaveOrOpenBlob) {
                                    console.log("window.navigator && window.navigator.msSaveOrOpenBlob returned true")
                                    var fileName = escapeHtml(result["filename"]);
                                    console.log("defined filename")
                                    window.navigator.msSaveOrOpenBlob(blob, fileName);
                                    console.log("Open Dialoge")
                                }
                                const a = document.createElement('a');
                                a.style.display = 'none';
                                a.href = url;
                                a.download = result["filename"];
                                document.body.appendChild(a);
                                a.click();
                                window.URL.revokeObjectURL(url);
                                toggle_modal();
                                alert_snack('Download Complete!');
                            })
                            .catch(() => alert_snack('Error!!!!! Error!!!'));

                    } else {
                        toggle_modal();
                        var notification = document.querySelector('.mdl-js-snackbar');
                        notification.MaterialSnackbar.showSnackbar(
                            {
                                message: result["error_details"]
                            }
                        );
                    }
                }
            } else {
                alert_snack("Invalid YouTube Link!");
            }
        } else {
            alert_snack("Invalid YouTube Link!");
        }
    }


    function alert_snack(alert) {
        var notification = document.querySelector('.mdl-js-snackbar');
        notification.MaterialSnackbar.showSnackbar(
            {
                message: alert
            }
        );
    }
    function escapeHtml(unsafe) {
        return unsafe
            .replace(/&/g, "&amp;")
            .replace(/</g, "&lt;")
            .replace(/>/g, "&gt;")
            .replace(/"/g, "&quot;")
            .replace(/'/g, "&#039;");
    }
</script>
</body>
</html>